html body {
    margin: 0px;
}

body {
    font-family: Sans-serif;
    font-size: 16px;
    color: #666666;
    background: #fff;
}

body h1 {
    margin: 0px;
}

.hidden {
    display: none;
}

#content h2 {
    margin: 0px;
    padding-bottom: 20px;
}

#content p {
    margin: 0px;
    padding-bottom: 20px;
}

#page-container {
    width: 760px;
    margin: auto;
}

#main-nav {
    height: 50px;
    padding-left: 12px;
}

#main-nav dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav dt {
    float: left;
}
#main-nav dt a {
    display: block;
    height: 0px !important;
    height: 50px;
    padding: 50px 0 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
}
#main-nav dt a:hover {
    background-position: 0 -50px;
}
#main-nav dt#about,
#main-nav dt#about a {
    width: 71px;
    background-image: url(../img/nav_about.jpg);
}
#main-nav dt#service,
#main-nav dt#service a {
    width: 84px;
    background-image: url(../img/nav_service.jpg);
}
#main-nav dt#portfolio,
#main-nav dt#portfolio a {
    width: 95px;
    background-image: url(../img/nav_portfolio.jpg);
}
#main-nav dt#contactus,
#main-nav dt#contactus a {
    width: 106px;
    background-image: url(../img/nav_contactus.jpg);
}

body.about dt#atout,
body.about dt#about a,
body.service dt#service,
body.service dt#service a,
body.portfolio dt#portfolio,
body.portfolio dt#portfolio a,
body.contactus dt#contactus,
body.contactus dt#contactus a {
    background-position: 0 -100px;
}

#header {
    height: 150px;
}

#content {
    margin-right: 200px;
    line-height: 20px;
}

#sidebar {
    float: right;
    width: 200px;
    line-height: 20px;
}

#footer a {
    color: #999999;
    text-decoration: none;
}

#footer a:hover {
    color: #db6d16;
}

#footer #altnav {
    float: right;
    width: 400px;
    text-align: right;
}

#footer {
    height: 60px;
    clear: both;
    font-size: 12px;
    color: #999;
    border-top: 1px solid #ddd;
    line-height: 18px;
}
