{# macro to render product in comments page #}
{% macro render_comment_product(product) -%}
    <div class="top">
        <a href="http://www.producthunt.com/{{ product.user.userid }}">
            <img class="user-image" src="{{ product.user.icon }}" alt="icon" width ="30" height="30" />
        </a>
        <span class="posted-by">
            Posted by {{ product.user.name }} - {{ product.user.title }}
        </span>
        <div class="clearfix"></div>
        <div class="border"></div>
    </div>
    <div class="bottom">
        <div class="upvote">
            <div class="upvote-link"></div>
            <span class="vote-count">{{ product.vote_count }}</span>
        </div>
        <div class="post-info">
            <a href="{{ product.url }}" class="post-url">{{ product.name }}</a>
            <br>
            <span class="post-tagline">{{ product.description }}</span>
        </div>
    </div>
{%- endmacro %}

{# macro to render single comment in comments page #}
{% macro render_comment(c) -%}
    <div class="user-image-container">
        <a href="http://www.producthunt.com/{{ c.user.userid }}" class="user-image-link-post">
            <img class="user-image" src="{{ c.user.icon }}" alt="icon" width="40" height="40" />
        </a>
    </div>
    <div class="comment-body">
        <h2 class="comment-user-name">
            <a href="http://www.producthunt.com/{{ c.user.userid }}">{{ c.user.name }}</a>
        </h2>
        <div class="upvote">
            <div class="upvote-link"></div>
            <span class="vote-count">{{ c.vote_count }}</span>
        </div>
        <div class="comment-user-info">
            <small class="comment-user-handle">{{ c.user.title }}</small>
        </div>
        {{ c.comment_html | safe }}
    </div>
{%- endmacro %}

{# macro to render single comment thread in comments page #}
{% macro render_comment_thread(c) -%}
    <div class="comment-thread">
    <hr class="comments-rule"/>
    <div class="comment">
        {{ render_comment(c) }}
        <div class="clearfix"></div>
    </div>
    {% for child in c.children %}
    <hr class="comments-rule child" />
    <div class="comment child">
        {{ render_comment(child) }}
    </div>
    {% endfor %}
    <div class="clearfix"></div>
    </div>
{%- endmacro %}
