<!DOCTYPE html>
{% import 'comment_render.jinja.html' as comment_render %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <title>{{ product.name }}</title>
        <meta name="description" content="comments for {{ product.name }} in producthumt.com" />
        <meta name="keywords" content="{{ product.name }} - producthunt" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="comments-container">
            <div class="comments-header">
                {{ comment_render.render_comment_product(product) }}
            </div>
            <div class="post-show">
                <h2 class="subhead">{{ product.comment_count }} COMMENTS</h2>
                <div class="comments">
                    {% for c in product.comments %}
                        {{ comment_render.render_comment_thread(c) }}
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                <hr class="comments-rule"></hr>
                This is a unofficial snapshot of <a href="http://www.producthunt.com">Product Hunt</a>. All right reserved by Product Hunt.
                <br>
            </div>
        </div>
    </body>
</html>
