<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@smartfox studio">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>smartfox studio</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h1>微信公众帐号 for producthunt</h2>
<h2>在微信里搜索producthunt或扫描以下二维码即可关注我们</h1>
<p><a target="_blank" href="http://www.producthunt.com">@producthunt</a>
  by <a target="_blank" href="http://weibo.com/smartfoxstudio">@smartfox studio</a></p>
<img src="/static/img/qrcode_for_producthunt_weixin.jpg">
</body>
</html>
