<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8">
        <title>ProductPorter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ProductPorter - Let cool products embrace China">
        <meta name="author" content="ProductPorter Team">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div>
            <section style="max-width: 100%; word-wrap: break-word; box-sizing: border-box;
                margin: 20px 3px 0px 3px; padding: 12px; border: 1px solid rgb(249, 110, 87);
                border-radius: 6px; line-height: 1.4; word-break: break-all; font-family: inherit;">
                <span style="color: rgb(49, 133, 155);">
                    <strong>点击文章底部的“原文阅读”即可以查看到带产品链接的原文。</strong>
                </span>
            </section>
        </div>

        {% for post in posts %}
            {% if post.ctagline and post.ctagline_locked %}
            <div>
                <br/>
                <p><span style="font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(12, 12, 12);">
                    {{ post.name }}
                </span></p>
                <p><span style="font-size: 14px; color: grey;">
                    {{ post.redirect_url }}
                </span></p>
                <p><span style="font-size: 16px; ">
                    {% if post.tags.count() > 0 %}
                    【
                    {% for tag in post.tags %}
                        {% if tag == post.tags.first() %}
                            {{tag.name}}
                        {% else %}
                            ; {{tag.name}}
                        {% endif %}
                    {% endfor %}
                    】
                    {% endif %}
                    {% autoescape false %}
                    {{ post.ctagline }}
                    {% endautoescape %}
                </span></p>
            </div>
            {% endif %}
        {% endfor %}

        <div>
            <span style="font-size: 14px; color: grey;">
                <p><br/>感谢编译者：<br/></p>
                {% for editor in editors %}
                <p> @{{ editor.username }} </p>
                {% endfor %}
            </span>
        </div>
    </body>
</html>

