{% set page_title = "Posts" %}

{% extends theme("layout.jinja.html") %}
{% from theme("macros.jinja.html") import render_field %}
{% block content %}

<ul class="breadcrumb">
    <li>{{ date }} - Totally {{ post_count }} products</li>
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Tagline</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td rowspan="3">{{ posts.index(post) + 1 }}</td>
            <td><a href="{{ post.redirect_url }}">{{ post.name }}</a></td>
            <td>{{ post.tagline }}</td>
        </tr>
        <tr>
            {% if edit_postid == post.postid %}
            <td colspan="2">
                <form class="form-horizontal" role="form" method="POST">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.ctagline, div_class="col-sm-12", rows=2) }}
                    <button type="submit" class="btn btn-success" name="button" value="submit">Submit</button>
                </form>
            </td>
            {% else %}
            <td colspan="2">
                {% if post.ctagline %}
                    {{ post.ctagline }}
                    </br>
                    <a href="{{ url_for('product.posts', edit_postid=post.postid) }}" class="btn btn-primary">I want Check</a>
                {% else %}
                    <a href="{{ url_for('product.posts', edit_postid=post.postid) }}" class="btn btn-primary">I want Translate</a>
                {% endif %}

            </td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" align="center">
                <img src="{{ post.screenshot_url }}" width="600"/>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
