{% set page_title = "Post" %}
{% set date = post.date|format_date %}

{% extends theme("layout.jinja.html") %}

{% block custcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}

{% block content %}

{%- from theme("macros.jinja.html") import contributors -%}

<ul class="breadcrumb">
    <li>
        <a href="{{ url_for('product.posts', day=date) }}">
            {{post.date|format_date}}
        </a>
    </li>
    <li class="active">{{post.name}}</li>
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div id="container">
                        <a class="btn btn-default btn-lg " id="pickfiles" href="#" >
                            <i class="glyphicon glyphicon-plus"></i>
                            <sapn>Choose Files</sapn>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <table class="table table-striped table-hover text-left"   style="margin-top:40px;display:none">
                        <thead>
                            <tr>
                                <th class="col-md-1">Filename</th>
                                <th class="col-md-1">Size</th>
                                <th class="col-md-10">Detail</th>
                            </tr>
                        </thead>
                        <tbody id="fsUploadProgress">
                        </tbody>
                    </table>
                </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-qiniu-url">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    <a class="post-url"
                        href="{{ post.redirect_url }}"
                        target="_blank">{{ post.name }}
                    </a>
                    <span> - {{ post.tagline }}</span>
                </h4>
            </div>
            <div class="col-md-2">
                {% if current_user|can_translate and not post.ctagline_locked %}
                {% set visible='show' %}
                {% else %}
                {% set visible='hide' %}
                {% endif %}
                <button name="translate" type="button"
                        class="btn btn-primary fix-width {{visible}}"
                        data-postid="{{post.postid}}" field="ctagline"
                        data-url="{{url_for('product.translate')}}">Translate</button>
            </div>
            {% if current_user|is_moderator %}
            <div class="col-md-2">
                {% if post.ctagline_locked %}
                {% set op = 'Unlock' %}
                {% else %}
                {% set op = 'Lock' %}
                {% endif %}
                <button name="lock" type="button"
                        class="btn btn-success fix-width"
                        data-postid="{{post.postid}}" op="{{op}}" field="ctagline"
                        data-url="{{url_for('product.lock')}}">{{op}}</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-translate" data-postid="{{post.postid}}" field="ctagline">
                    <div class="col-sm-12">
                        <textarea class="form-control"
                            data-postid="{{post.postid}}"
                            id="ctagline" name="ctagline"
                            placeholder="Translation" rows="4">
                        </textarea>
                        <br/>
                        <button name="commit" type="button" class="btn btn-success"
                            data-postid="{{post.postid}}" field="ctagline"
                            data-url="{{url_for('product.translate')}}">Submit</button>
                        <button name="cancel" type="button" class="btn btn-danger"
                            data-postid="{{post.postid}}" field="ctagline"
                            data-url="{{url_for('product.translate')}}">Cancel</button>
                    </div>
                </div>
                <div class="tagline-content" data-postid="{{post.postid}}" field="ctagline">
                    <div class="tagline-content-data" data-postid="{{post.postid}}" field="ctagline">
                        {% autoescape false %}
                        {{ post.ctagline|markup }}
                        {% endautoescape %}
                    </div>
                    {% if post.ctagline %}
                    {{ contributors(post.ctagline_editors, post.postid, post.ctagline_locked_user, "ctagline") }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    <span> Detail introduce</span>
                </h4>
            </div>
            <div class="col-md-2">
                {% if current_user|can_translate and not post.cintro_locked %}
                {% set visible='show' %}
                {% else %}
                {% set visible='hide' %}
                {% endif %}
                <button name="translate" type="button"
                        class="btn btn-primary fix-width {{visible}}"
                        data-postid="{{post.postid}}" field="cintro"
                        data-url="{{url_for('product.translate')}}">Introduce</button>
            </div>
            {% if current_user|is_moderator %}
            <div class="col-md-2">
                {% if post.cintro_locked %}
                {% set op = 'Unlock' %}
                {% else %}
                {% set op = 'Lock' %}
                {% endif %}
                <button name="lock" type="button"
                        class="btn btn-success fix-width"
                        data-postid="{{post.postid}}" op="{{op}}" field="cintro"
                        data-url="{{url_for('product.lock')}}">{{op}}</button>
            </div>
            {% endif %}
        </div>

    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-translate" data-postid="{{post.postid}}" field="cintro">
                    <div class="col-sm-12">
                        <textarea class="form-control"
                            data-postid="{{post.postid}}"
                            id="cintro" name="cintro" rows="10" data-provide="markdown">
                        </textarea>
                        <br/>
                        <button name="commit" type="button" class="btn btn-success"
                            data-postid="{{post.postid}}"  field="cintro"
                            data-url="{{url_for('product.translate')}}">Submit</button>
                        <button name="cancel" type="button" class="btn btn-danger"
                            data-postid="{{post.postid}}"  field="cintro"
                            data-url="{{url_for('product.translate')}}">Cancel</button>
                    </div>
                </div>
                <div class="tagline-content" data-postid="{{post.postid}}" field="cintro">
                    <div class="tagline-content-data" data-postid="{{post.postid}}" field="cintro">
                        {% autoescape false %}
                        {{ post.cintro|markup }}
                        {% endautoescape %}
                    </div>
                    {% if post.cintro %}
                    {{ contributors(post.cintro_editors, post.postid, post.cintro_locked_user, "cintro") }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/bootstrap-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/to-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu/plupload/plupload.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu/qiniu.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu/ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qiniu/main.js') }}"></script>

{% endblock %}

