{% set page_title = "Posts" %}

{% extends theme("layout.jinja.html") %}

{% block custcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}

{% block content %}
{%- from theme("macros.jinja.html") import contributors -%}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ day }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="input-select-day" class="col-md-2">
                <input type="text" class="form-control" value="{{ day }}">
            </div>
            <div class="col-md-8">
                <h4>Totally {{ post_count }} products</h4>
            </div>
            <div class="col-md-2">
                {% if current_user|is_moderator and post_count>0 %}
                {% set visible='show' %}
                {% else %}
                {% set visible='hide' %}
                {% endif %}
                <a class="btn btn-primary fix-width {{visible}}" href="{{ url_for('product.dailybriefing', day=day) }}" target="_blank">
                    Daily Briefing
                </a>
            </div>
        </div>
    </div>
</div>

{% for post in posts %}
<div class="panel panel-default">
    <div class="panel-heading product-item">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    <span>{{ posts.index(post) + 1 }}# </span>
                    <a class="post-url" href="{{ post.redirect_url }}" target="_blank">{{ post.name }}</a>
                    <span> - {{ post.tagline }}</span>
                    <a class="product-link"
                        href="{{ url_for('product.post_intro', postid=post.postid) }}">
                    </a>
                </h4>
            </div>
            <div class="col-md-2">
                {% if current_user|can_translate and not post.ctagline_locked %}
                {% set visible='show' %}
                {% else %}
                {% set visible='hide' %}
                {% endif %}
                <button name="translate" type="button"
                        class="btn btn-primary fix-width {{visible}}"
                        data-postid="{{post.postid}}" field="ctagline"
                        data-url="{{url_for('product.translate')}}">Translate</button>
            </div>
            {% if current_user|is_moderator %}
            <div class="col-md-2">
                {% if post.ctagline_locked %}
                {% set op = 'Unlock' %}
                {% else %}
                {% set op = 'Lock' %}
                {% endif %}
                <button name="lock" type="button"
                        class="btn btn-success fix-width"
                        data-postid="{{post.postid}}" op="{{op}}" field="ctagline"
                        data-url="{{url_for('product.lock')}}">{{op}}</button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-translate" data-postid="{{post.postid}}" field="ctagline">
                    <div class="col-sm-12">
                        <textarea class="form-control"
                            data-postid="{{post.postid}}"
                            id="ctagline" name="ctagline"
                            placeholder="Translation" rows="4">
                        </textarea>
                        <br/>
                        <button name="commit" type="button" class="btn btn-success"
                            data-postid="{{post.postid}}" field="ctagline"
                            data-url="{{url_for('product.translate')}}">Submit</button>
                        <button name="cancel" type="button" class="btn btn-danger"
                            data-postid="{{post.postid}}" field="ctagline"
                            data-url="{{url_for('product.translate')}}">Cancel</button>
                    </div>
                </div>
                <div class="tagline-content" data-postid="{{post.postid}}" field="ctagline">
                    <div class="tagline-content-data" data-postid="{{post.postid}}" field="ctagline">
                        {% autoescape false %}
                        {{ post.ctagline|markup }}
                        {% endautoescape %}
                    </div>
                    {% if post.ctagline %}
                    {{contributors(post.ctagline_editors, post.postid, post.ctagline_locked_user, "ctagline")}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/bootstrap-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/to-markdown.js') }}"></script>

{% endblock %}

