{% set page_title = "Post" %}
{% set date = post.date|format_date %}

{% extends theme("layout.jinja.html") %}

{% block custcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
{% endblock %}

{% block content %}
{%- from theme("macros.jinja.html") import contributors -%}

<ul class="breadcrumb">
    <li>
        <a href="{{ url_for('product.posts', day=date) }}">
            {{post.date|format_date}}
        </a>
    </li>
    <li class="active">{{post.name}}</li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h4>
                    <a class="post-url"
                        href="{{ post.redirect_url }}"
                        target="_blank">{{ post.name }}
                    </a>
                    <span> - {{ post.tagline }}</span>
                </h4>
            </div>
            <div class="col-md-2">
                {% if current_user|can_translate %}
                <button name="translate" type="button" class="btn btn-primary"
                        data-postid="{{post.postid}}"
                        data-url="{{url_for('product.translate')}}">Translate</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-translate" data-postid="{{post.postid}}">
                    <div class="col-sm-12">
                        <textarea class="form-control"
                            data-postid="{{post.postid}}"
                            id="ctagline" name="ctagline"
                            placeholder="Translation" rows="4">
                        </textarea>
                        <br/>
                        <button name="commit-translate" type="button" class="btn btn-success"
                            data-postid="{{post.postid}}"
                            data-url="{{url_for('product.translate')}}">Submit</button>
                        <button name="cancel" type="button" class="btn btn-danger"
                            data-postid="{{post.postid}}"
                            data-url="{{url_for('product.translate')}}">Cancel</button>
                    </div>
                </div>
                <div class="tagline-content" data-postid="{{post.postid}}">
                    <div class="tagline-content-data" data-postid="{{post.postid}}">
                        {{ post.ctagline }}
                    </div>
                    {% if post.ctagline %}
                    {{ contributors(post.translaters, post.postid) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <h4>
                    <span> Detail introduce</span>
                </h4>
            </div>
            <div class="col-md-2">
                {% if current_user|can_translate %}
                <button name="introduce" type="button" class="btn btn-primary"
                    data-postid="{{post.postid}}"
                    data-url="{{url_for('product.translate')}}">Introduce</button>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="cintro-translate" data-postid="{{post.postid}}">
                    <div class="col-sm-12">
                        <textarea class="form-control"
                            data-postid="{{post.postid}}"
                            id="cintro" name="cintro" rows="10" data-provide="markdown">
                        </textarea>
                        <br/>
                        <button name="commit-cintro" type="button" class="btn btn-success"
                            data-postid="{{post.postid}}"
                            data-url="{{url_for('product.translate')}}">Submit</button>
                        <button name="cancel-cintro" type="button" class="btn btn-danger"
                            data-postid="{{post.postid}}"
                            data-url="{{url_for('product.translate')}}">Cancel</button>
                    </div>
                </div>
                <div class="cintro-content" data-postid="{{post.postid}}">
                    <div class="cintro-content-data" data-postid="{{post.postid}}">
                        {% autoescape false %}
                        {{ post.cintro|markup }}
                        {% endautoescape %}
                    </div>
                    {% if post.cintro %}
                    {{ contributors(post.introducers, post.postid) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/bootstrap-markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/markdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown/to-markdown.js') }}"></script>

{% endblock %}

