{% set page_title = "Sign in" %}

{% extends theme("layout.jinja.html") %}
{% from theme("macros.jinja.html") import horizontal_field %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Sign in</h1>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.login)}}
            {{ horizontal_field(form.password)}}

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <div class="checkbox">
                        <label>
                            {{ form.remember_me }} Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">Sign in</button>
                    Do not have account? Try to<a id="sign-up" href="{{url_for('user.register')}}"> Sign up</a> in any second
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </form>
        <hr/>
        <row>
            <div class="col-sm-offset-4 col-sm-4">
                <a href="{{url_for('user.weibo_auth')}}">
                    <img alt="Login with Weibo" src="{{ url_for('static', filename='img/weibo-auth-big.png') }}" />
                </a>
            </div>
        </row>
    </div>
</div>


{% endblock %}
