{% set page_title = "Profile" %}

{% extends theme("layout.jinja.html") %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Profile</h1>
    </div>
    <div class="panel-body">

    </div>
    <table class="table">
        <tr>
            <td>Username</td>
            <td>{{ user.username }}<td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Group</td>
            <td>
                {%- if user.primary_group.name -%}
                {{ user.primary_group.name }}
                {%- else -%} No Info {%- endif -%}
            </td>
        </tr>
        <tr>
            <td>Joined</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        <tr>
            <td>Last seen</td>
            <td>
                {%- if user.lastseen -%} {{ user.lastseen }}
                {%- else -%} Never seen {%- endif -%}
            </td>
        </tr>
        <tr>
            <td>Location</td>
            <td>
                {%- if user.location -%} {{ user.location }}
                {%- else -%} No Info {%- endif -%}
            </td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td>
                {% if user.birthday %} {{ user.birthday }}
                {% else %} No Info {% endif %}
                {% if user.gender %} ({{ user.gender }}) {% endif %}
            </td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>
                {% if user.signature %} {{ user.signature }}
                {% else %} No Info {% endif %}
            </td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>
                {% if user.notes %} {{ user.notes }}
                {% else %} No Info {% endif %}
            </td>
        </tr>
    </table>
</div>

{% endblock %}
