{% set page_title = "Register" %}

{% extends theme("layout.jinja.html") %}
{% block content %}
{% from theme("macros.jinja.html") import horizontal_field %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Sign up</h1>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.username)}}
            {{ horizontal_field(form.email)}}
            {{ horizontal_field(form.password)}}
            {{ horizontal_field(form.confirm_password)}}

            {% if config["RECAPTCHA_ENABLED"] %}
                {{ horizontal_field(form.recaptcha) }}
            {% endif %}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{ form.accept_tos }} I accept the <a href="#">Terms of Service</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-success">Sign up</button>
                    Try to <a id="sign-in" href="{{url_for('user.login')}}">Sign in</a> if you already have an account
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
