{% set page_title = "Reset Password" %}

{% extends theme("layout.jinja.html") %}
{% block content %}
{% from theme("macros.jinja.html") import horizontal_field %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Reset Password</h1>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="POST">
            {{ form.hidden_tag() }}
            {{ form.token }}
            {{ horizontal_field(form.email) }}
            {{ horizontal_field(form.password) }}
            {{ horizontal_field(form.confirm_password)}}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
