<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}
            {%- if not page_title -%}
                ProductPorter - Let cool products embrace China
            {%- else -%}
                {{ page_title }} - Let cool products embrace China
            {%- endif -%}
        {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ProductPorter - Let cool products embrace China">
        <meta name="author" content="ProductPorter Team">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/productporter.css') }}">
        {% endblock %}
    </head>

    <body>
        <div id="wrap">
        {% block navigation %}
        {%- from theme("macros.jinja.html") import topnav with context -%}
        <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">ProductPorter</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            {{ topnav(endpoint='product.posts', name='Posts', icon='fa fa-comment', active=active_forum_nav) }}
                        </ul>
                    </div><!-- nav-collapse -->
                </div><!-- container -->
            </nav> <!-- navbar navbar-inverse -->
            {% endblock %}


            <div class="container">
                {% block messages %}
                    {% include theme('flashed_messages.jinja.html') %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div> <!-- /container -->
        </div> <!-- End wrap -->

            {% block footer %}
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit pull-left">&copy; 2014 - ProductPorter Team - LET COOL PRODUCTS EMBRACE CHINA</p>
                </div>
            </div>
            {% endblock %}

        {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
